.contact__content {
  flex-basis: 30%;
  row-gap: 1.25rem;
}

.contact__form {
  margin-right: clamp(-1.5rem, 3vw, -2rem);
  padding-top: clamp(1.5rem, -3.466rem + 8.0178vw, 3.75rem);
  padding-bottom: clamp(1.5rem, -3.466rem + 8.0178vw, 3.75rem);
  padding-left: clamp(1.5rem, -3.466rem + 8.0178vw, 3.75rem);
  border-radius: 1.25rem 0 0 1.25rem;
  flex-basis: 50%;
  z-index: 1;
  box-shadow: 0 10px 25px 0 rgba(16, 24, 32, 0.15), 0 0 0 1px rgba(16, 24, 32, 0.05);
}

.form__group {
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}

.group__field {
  flex: 1;
  border-bottom: 1px solid var(--color-primary);
}

.group__field::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0%;
  height: 1px;
  background-color: var(--color-text-primary);
  transition: width 0.3s ease;
}

.group__field:has(input:valid,input:focus,textarea:focus)::after {
  width: 100%;
}

.group__field label {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.group__field :is(input, textarea) {
  background: none !important;
  width: 100%;
  padding-block: 1.75rem;
  font-size: 1.125rem;
  color: var(--color-text-primary);
  border: none;
}

.group__field input {
  height: 40px;
}

.group__field :is(input, textarea)::placeholder {  
  font-size: inherit;
  transform: translateY(0);
  transition: transform 0.6s ease, font-size 0.6s ease;
}

.group__field :is(input, textarea):focus::placeholder {
  font-size: 75%;
  color: var(--color-primary) !important;
  transform: translateY(-20px);
}

.group__field :is(input, textarea):is(:focus) {
  outline: none;
}

.group__field
  :is(
    :is(input, textarea):is(:focus),
    :is(input, textarea):-webkit-autofill,
    :is(input, textarea):-webkit-autofill:is(:hover, :focus, :active)
  ) {
  -webkit-text-fill-color: var(--color-text-primary) !important;
  transition: background-color 5000s ease-in-out 0s;
  outline: none;
  color: var(--color-text-primary);
}

/* Media Queries */

@media (width <= 991px) {
  .contact__container {
    flex-direction: column;
    gap: 2rem;
  }

  .contact__content,
  .contact__form {
    flex-basis: auto;
  }
}

@media (width <= 767px) {
  .group__field {
    flex: auto;
  }
}

@media (width >= 1024px) {
  .contact__form {
    margin-right: calc(var(--section-padding-md) * -1);
  }
}

@media (width >= 1280px) {
  .contact__form {
    margin-right: calc(var(--section-padding-lg) * -1);

  }
}