/* ================================
   Global Styles
   ================================ */

:root {
  --section-padding-sm: 4rem clamp(1.5rem, 3vw, 2rem);
  --section-padding-md: 6.25rem clamp(2rem, 5vw, 4rem) calc(4rem * 1.25);
  --section-padding-lg: 6.25rem clamp(3rem, 8vw, 6rem) calc(4rem * 1.25);
  --section-padding-xl: 6.25rem clamp(4rem, 10vw, 8rem) calc(4rem * 1.25);

  --font-heading: "Montserrat", sans-serif;
  --font-main: "Inter", sans-serif;

  --color-bg-base: #1f1f1f; /* app background */
  --color-bg-subtle: #262626; /* slight variation / sections */
  --color-bg-elevated: #2e2e2e; /* cards, panels */
  --color-bg-elevated-tint: color-mix(in srgb, var(--color-bg-elevated) 20%, transparent);
  --color-bg-surface: #3d3d3d; /* modals, glass surfaces */
  --color-bg-overlay: #4c4c4c; /* top-level overlays */
  --color-bg-inverse: #ffffff; /* for contrast sections */
  --color-bg-inverse-tint: color-mix(in srgb, var(--color-bg-inverse) 20%, transparent);

  --color-text-primary: #f1f1f1; /* main content */
  --color-text-secondary: #c9c9c9; /* supporting text */
  --color-text-tertiary: #a8a8a8; /* less emphasis */
  --color-text-disabled: #9a9a9a; /* disabled */
  --color-text-inverse: #121212; /* text on light bg */

  --color-primary: #2979ff;
  --color-primary-hover: #4c94ff;
  --color-primary-active: #1f5fd1;
  --color-primary-tint: color-mix(in srgb, var(--color-primary) 20%, transparent);

  --ease-interaction: cubic-bezier(0.625, 0.05, 0, 1);

  --shadow: 0 10px 25px 0 rgba(16, 24, 32, 0.15), 0 0 0 1px rgba(16, 24, 32, 0.05);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--color-primary);
  color: #ffffff;
}

::-moz-selection {
  background: var(--color-primary);
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-bg-base);
  margin: 0;
  font-family: var(--font-main);
  font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
  line-height: 1.5;
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  cursor: none;
}

.h1,
h1,
.h2,
h2,
.h3,
h3 {
  font-family: var(--font-heading);
  color: var(--primary-text);
  line-height: 1.35;
}

.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5 {
  font-weight: 400;
}

.h1,
h1 {
  font-weight: 500;
  font-size: clamp(2.5rem, 2.1667rem + 1.4815vw, 3.5rem);
}

.h2,
h2 {
  font-size: clamp(1.75rem, 1.5rem + 1.1111vw, 2.5rem);
}

.h3,
h3 {
  font-size: clamp(1.25rem, 1.0833rem + 0.7407vw, 1.75rem);
}

.h4,
h4 {
  font-size: clamp(1.125rem, 1rem + 0.5556vw, 1.5rem);
}

.h5,
h5 {
  font-size: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
}

.small {
  font-size: clamp(0.8125rem, 0.7708rem + 0.1852vw, 0.9375rem);
  line-height: 1.7;
}

p {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.nowrap {
  white-space: nowrap;
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.flex-all {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-horz-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-end {
  justify-content: flex-end;
}

.flex-vert-top {
  align-items: flex-start;
}

.flex-vert-center {
  align-items: center;
}

.flex-vert-bottom {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}

.h-viewport {
  height: 100vh;
}

.h-viewport-hero {
  height: 75vh;
}

.h-viewport-small {
  height: 100svh;
}

.h-viewport-dynamic {
  height: 100dvh;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.flex-full {
  flex: 1;
}

.flex-half {
  flex: 0.5;
}

.text-muted {
  color: var(--color-text-disabled);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-text-secondary);
}

.text-center {
  text-align: center;
}

.gap-row-1 {
  row-gap: 1rem;
}

.gap-row-2 {
  row-gap: 2rem;
}

.gap-column-1 {
  column-gap: 1rem;
}

.gap-column-2 {
  column-gap: 2rem;
}

.background__ellipse {
  width: var(--max-size);
  height: var(--max-size);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  -webkit-filter: blur(250px);
  filter: blur(250px);
  z-index: -1;
}

@supports (-moz-appearance: none) {
  .background__ellipse {
    opacity: 0.5 !important;
  }
}

.ellipse--large {
  --max-size: min(70rem, 80vh);
}

.ellipse--medium {
  --max-size: min(50rem, 60vh);
}

.ellipse--small {
  --max-size: min(30rem, 40vh);
  -webkit-filter: blur(150px);
  filter: blur(150px);
}

.ellipse--primary {
  background: var(--color-primary);
}

.ellipse--hover {
  background: var(--color-primary-hover);
}

.ellipse--active {
  background: var(--color-primary-active);
}

.ellipse--light {
  background: var(--color-text-disabled);
}

/* ========================================================================== */
/*                                Section                                     */
/* ========================================================================== */

.section-padding {
  padding: var(--section-padding-sm);
}

.content__eyebrow {
  gap: 0.8rem;
  color: var(--color-primary);
}

.section__intro {
  max-width: clamp(22.5rem, 55vw, 42rem);
  margin-bottom: clamp(2rem, 1.1723rem + 1.3363vw, 3rem);}

.section__intro p {
  color: var(--color-text-secondary);
}

.section__decor {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* ========================================================================== */
/*                                Breakpoints                                 */
/* ========================================================================== */

/*
  xs   : 0px    - 575px
  sm   : 576px  - 767px
  md   : 768px  - 991px
  lg   : 992px  - 1279px
  xl   : 1280px - 1535px
  xxl  : 1536px+
*/

/* ========================================================================== */
/*                                Media Queries                               */
/* ========================================================================== */

@media (width >= 992px) {
  .section-padding {
    padding: var(--section-padding-md);
  }
}

@media (width >= 1280px) {
  .section-padding {
    padding: var(--section-padding-lg);
  }
}

@media (min-width >= 1536px) {
  .section-padding {
    padding: var(--section-padding-xl);
  }
}


/* ========================================================================== */
/*                              Hidden Utilities                              */
/* ========================================================================== */

/*
  Usage Examples:

  hidden-mobile  -> hides on xs + sm
  hidden-tablet  -> hides on md
  hidden-desktop -> hides on lg+
  hidden-xl-up   -> hides on xl + xxl
  hidden-lg-down -> hides on lg and below
*/

/* Hide on Mobile (xs + sm) */
@media (width <= 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

/* Hide on Tablet (md) */
@media (width >= 768px) and (width <= 991px) {
  .hidden-tablet {
    display: none !important;
  }
}

/* Hide on Desktop (lg+) */
@media (width >= 992px) {
  .hidden-desktop {
    display: none !important;
  }
}

/* Hide on XL and Up */
@media (width >= 1280px) {
  .hidden-xl-up {
    display: none !important;
  }
}

/* Hide on LG and Down */
@media (width <= 1279px) {
  .hidden-lg-down {
    display: none !important;
  }
}

/* Hide on MD and Down */
@media (width <= 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

/* Hide on SM and Down */
@media (width <= 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

/* Hide on LG Only */
@media (width >= 992px) and (width <= 1279px) {
  .hidden-lg-only {
    display: none !important;
  }
}

/* Hide on XL Only */
@media (width >= 1280px) and (width <= 1535px) {
  .hidden-xl-only {
    display: none !important;
  }
}