:root {
  --navigation-padding-sm: 1.875rem clamp(1.5rem, 3vw, 2rem);
  --navigation-padding-md: 3rem clamp(2rem, 5vw, 4rem);
  --navigation-padding-lg: 3rem clamp(3rem, 8vw, 6rem);
  --navigation-padding-xl: 3rem clamp(4rem, 10vw, 8rem);
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.navbar__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.938rem 1.563rem;
  border-style: solid;
  border-width: 1px 0;
  border-color: #2e2e2e transparent #353535;
  border-radius: 1.875rem;
}

.navbar__background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(rgba(18, 18, 18, 0.25), rgba(255, 255, 255, 0.02))
      padding-box,
    linear-gradient(
        175deg,
        rgba(18, 18, 18, 0.08),
        rgba(43, 42, 42, 0.35),
        rgba(255, 255, 255, 0.08)
      )
      border-box;
  border-radius: 1.875rem;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  will-change: backdrop-filter;
  box-shadow:
    inset -1px 1px 0 rgba(255, 255, 255, 0.15),
    inset -1px -1px 0 rgba(255, 255, 255, 0.15);
  z-index: -1;
}

.navbar__logo {
  line-height: initial;
}

.path-a,
.path-b,
.path-c {
  animation: fadeIn 0.6s linear normal both;
}

.path-d,
.path-e {
  will-change: transform;
  animation: logoScaleLeft 0.6s ease-in 0.8s backwards, logoFloat 2s ease-in-out 1.8s infinite alternate;
}

.navbar__right {
  column-gap: 40px;
}

.navbar-right__divider {
  height: 30px;
  width: 1px;
  background-color: #343434;
  box-shadow: 1px 0 0 #565656;
}

.navbar-right__menu {
  width: 82px;
  height: 15px;
  cursor: pointer;
  animation: hambugerOpenBTN 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s both;
}

.navbar-right__menu.is-active {
  animation: hambugerCloseBTN 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s forwards;
}

.menu-icon__bar {
  background-color: var(--primary-text);
  display: block;
  width: 3.75rem;
  height: 0.188rem;
  will-change: transform;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-icon__bar--top {
  transform-origin: top left;
  transform: translateX(-18%);
}

.navbar-right__menu:hover .menu-icon__bar--top {
  transform: translateX(0%);
}

.menu-icon__bar--bottom {
  transform-origin: bottom right;
  transform: translateX(18%);
}

.navbar-right__menu:hover .menu-icon__bar--bottom {
  transform: translateX(0%);
}

.menu {
  position: fixed;
  display: none;
  inset: 0;
  width: 100%;
  height: 100dvh;
  padding-top: 2.813rem;
  z-index: 100;
  pointer-events: none;
}

/*.menu__backdrop {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 0;
}*/

.menu__ellipse-1 {
    top: 40rem;
    left: 0;
    transform: translate(-50%, -25%);
}

.menu__ellipse-2 {
    top: 0;
    right: 0;
    transform: translate(65%, -65%);
}

.menu__ellipse {
    position: absolute;
    width: min(70rem, 80vh);
    height: min(70rem, 80vh);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: var(--primary-text);
    filter: blur(250px);
    -webkit-filter: blur(250px);
    animation: fadeIn 1s ease-in alternate backwards;
}

/*.menu__container, .menu__close {
  position: relative;
  z-index: 100;
  pointer-events: all;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}*/

.menu__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: [full-start] minmax(3rem, 1fr) [content-start] repeat(12, minmax(0, 10rem)) [content-end] minmax(3rem, 1fr) [full-end];
    row-gap: 2rem;
    width: 100%;
    height: clamp(calc(100% - 5.25rem), calc(100% - 24vw), calc(100% - 3rem));
    padding-block: clamp(1.875rem, 6.66vw, 5rem);
    border-radius: 20px 0 20px 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    will-change: backdrop-filter;
    /*clip-path: url(#menu-bg-clip);*/
    z-index: 100;
    overflow: hidden;
}

.menu__close-container {
    width: 148px;
    height: 86px;
    margin-left: auto;
    padding-left: 2rem;
    clip-path: url(#menu-bg-clip-tab);
    cursor: pointer;
}

.menu__wrapper, .menu__close-container {
    background-color: 
color-mix(in srgb, var(--primary-text) 75%, transparent);
    pointer-events: all;    
}

.menu__clip-close {
  transform: scaleX(-1);
  opacity: 1;
  transition: padding 0.3s ease-out, opacity 0.6s ease-out;
}

.menu__clip-close:hover {
  padding: 1px;
  opacity: 0.6;
}

.menu__clip {
  position: absolute;
  top: -999px;
  left: -999px;
  width: 0;
  height: 0;
}

.menu--open {
  display: block;
  animation: menuOpen 1s ease-out alternate 0.3s backwards;
}

.menu--closing {
  display: block;
  animation: menuClose 1s ease-in both;
  pointer-events: none;
  will-change: transform, opacity;
}

.menu--open :is(#menu-close-bar-1, #menu-close-bar-2) {
  animation: xOpenBTN 0.6s ease-in 0.4s both, fadeIn 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) both;
}

.menu--closing :is(#menu-close-bar-1, #menu-close-bar-2) {
  animation: xCloseBTN 0.6s ease-in both, fadeOut 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.4s both;
}

.menu__content {
  display: grid;
  grid-column: content-start / span 5;
  align-content: start;
  gap: clamp(1rem, 4.1vw, 2rem);
}

.menu__eyebrow {
  gap: 0.8rem;
}

.menu__eyebrow-text {
  color: var(--primary-accent);
}

.menu__content-heading {
  font-weight: 600;
  font-size: clamp(1.25rem, 0.5833rem + 2.963vw, 3.25rem);
  line-height: 1.15;
  letter-spacing: -0.01em; 
}

.menu__divider {
  background-color: var(--disabled-text);
  width: 25%;
  height: 1px;
}

.menu__navigation {
  grid-column: span 7 / content-end;
}

ul.menu__navigation-links {
  list-style-type: none;
  display: grid;
  gap: min(3rem, 3vh);
  height: fit-content;
}

.menu__navigation-heading {
  padding-bottom: 0.625rem;  
  border-bottom: solid 1px var(--disabled-text);
}

.menu__navigation-heading h4 {
  font-weight: 600;
  color: var(--color-background);
}

ul.menu__navigation-links li span.menu__navigation-arrow {
  position: relative;
  left: -18px;
  margin-left: -1.125rem;
}

ul.menu__navigation-links li span.menu__navigation-arrow svg {
  opacity: 0;
  transform: scale(0.25);
  transition: transform 0.3s ease-in, opacity 0.3s ease-out;
}

ul.menu__navigation-links li:hover span.menu__navigation-arrow svg {
  opacity: 1;
  transform: scale(1);
}

ul.menu__navigation-links li a {
  font-size: clamp(1.125rem, 0.8333rem + 1.2963vw, 2rem);
  line-height: 1.15;
  letter-spacing: -0.01em;
  color: var(--color-background-alt);
}

ul.menu__navigation-links li a:hover {
  color: var(--color-background);
}

/* ========================================================================== */
/*                                Keyframes                                   */
/* ========================================================================== */


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes logoFloat {
  from {
    transform: translate(0.344rem, 0.313rem);
  }
  to {
    transform: translate(-0.219rem, -0.156rem);
  }
}

@keyframes logoScaleLeft {
  0% {
    transform: translate(-11rem, 0.313rem);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0.313rem);
    opacity: 1;
  }
}

@keyframes menuOpen {
  from {
    opacity: 0;
    transform: scale(1.05);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

@keyframes menuClose {
  from {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
    
  }
  to {
    opacity: 0;
    transform: scale(0.9);
    filter: blur(5px);
  }
}

@keyframes hambugerOpenBTN {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hambugerCloseBTN {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes xOpenBTN {
  from {
    width: 10px;
  }
  to {
    width: 45.6946px;
  }
}

@keyframes xCloseBTN {
  from {
    width: 45.6946px;
  }
  to {
    width: 10px;
  }
}

/* ========================================================================== */
/*                                Media Queries                               */
/* ========================================================================== */

@media (max-width: 1023px) {
  .menu {
    padding-top: 1.563rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .menu__content {
    grid-column: content-start / span 6;
  }
  .menu__navigation {
    grid-column: span 4 / content-end;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: var(--navigation-padding-sm);
  }

  .navbar__right :is(a,.navbar-right__divider) {
    display: none;
  }

  .menu__wrapper {
    padding-inline: 1.875rem;
  }

  .menu__content, .menu__navigation {
    grid-column: 1 / -1;
  }

  .menu__content {
    order: 2;
  }  

  .menu__navigation-arrow {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding: var(--navigation-padding-sm);
  }
}

@media (min-width: 992px) {
  .menu__navigation {
    justify-self: center;
    min-width: min(20rem, 35.5vh);
  }
}

@media (min-width: 1024px) {
  .navbar {
    padding: var(--navigation-padding-md);
  }
}

@media (min-width: 1280px) {
  .navbar {
    padding: var(--navigation-padding-lg);
  }
}

@media (min-width: 1536px) {
  .navbar {
    padding: var(--navigation-padding-lg);
  }
}