:root {
  --navigation-padding-sm: clamp(1.5rem, 3vw, 2rem) clamp(1.5rem, 3vw, 2rem) 0;
  --navigation-padding-md: 1.875rem clamp(2rem, 5vw, 4rem) 0;
  --navigation-padding-lg: 1.875rem clamp(3rem, 8vw, 6rem) 0;
  --navigation-padding-xl: 1.875rem clamp(4rem, 10vw, 8rem) 0;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.navbar__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(0.625rem, 1.30vw, 0.938rem) 1.563rem;
  border-radius: 1.875rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  will-change: backdrop-filter;
}

.navbar__background {
  background: linear-gradient(180deg, #ffffff2e 0%, #9191911f 35%, #45454517 60%, #9191911f 80%, #ffffff2e 100%) border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.875rem;
  box-shadow:
    inset -1px 1px 0px #ffffff24,
    inset -1px 0px 0px #00000094,
    inset 0px -1px 0px #ffffff1a;
}

.navbar__logo {
  height: 35px;
  line-height: initial;
  filter: brightness(1.25);
}

.path-a,
.path-b,
.path-c {
  animation: fadeIn 0.6s linear normal both;
}

.path-d,
.path-e {
  will-change: transform;
  animation:
    logoScaleLeft 0.6s ease-in 0.8s backwards,
    logoFloat 2s ease-in-out 1.8s infinite alternate;
}

.navbar__right {
  column-gap: 40px;
}

.navbar-right__divider {
  height: 30px;
  width: 1px;
  background: var(--color-bg-subtle);
  box-shadow: 1px 0 0 #6b6b6b;
}

.navbar-right__menu {
  width: 82px;
  height: 35px;
  padding: 10px 0;
  animation: hambugerOpenBTN 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s both;
}

.navbar-right__menu.is-active {
  animation: hambugerCloseBTN 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s forwards;
}

.menu-icon__bar {
  background: var(--color-text-primary);
  display: block;
  width: 3.75rem;
  height: 0.188rem;
  will-change: transform;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-icon__bar--top {
  transform-origin: top left;
  transform: translateX(-18%);
}

.navbar-right__menu:hover .menu-icon__bar--top {
  transform: translateX(0%);
}

.menu-icon__bar--bottom {
  transform-origin: bottom right;
  transform: translateX(18%);
}

.navbar-right__menu:hover .menu-icon__bar--bottom {
  transform: translateX(0%);
}

.menu {
  position: fixed;
  display: none;
  inset: 0;
  width: 100%;
  height: 100dvh;
  padding-top: 1.5rem;
  z-index: 100;
  pointer-events: none;
}

.menu__wrapper {
  background: radial-gradient(ellipse 100% 40% at 50% 85%, var(--color-text-primary) 0%, transparent 100%), linear-gradient(to bottom, rgb(255 255 255 / 0%) 80%, rgb(0 0 0 / 40%) 100%, transparent 100%);
  position: relative;
  display: grid;
  grid-template-columns: [content-start] repeat(12, minmax(0, 10rem)) [content-end];
  gap: 3rem;
  width: 100%;
  height: clamp(calc(100% - 5.25rem), calc(100% - 24vw), calc(100% - 3rem));
  padding-block: clamp(1.875rem, 6.66vw, 5rem);
  padding-inline: clamp(1.875rem, 6.66vw, 5rem);
  border-radius: 20px 0 20px 20px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  will-change: backdrop-filter;
  /* clip-path: url(#menu-bg-clip); */
  z-index: 100;
  overflow: hidden;
}

.menu__close-container {
  width: 148px;
  height: 86px;
  margin-left: auto;
  padding-left: 2rem;
  clip-path: url(#menu-bg-clip-tab);
}

.menu__wrapper,
.menu__close-container {
  background: color-mix(in srgb, var(--color-text-primary) 90%, transparent);
  pointer-events: all;
}

.menu__clip-close {
  transform: scaleX(-1);
  opacity: 1;
  transition:
    padding 0.3s ease-out,
    opacity 0.6s ease-out;
}

.menu__clip-close:hover {
  padding: 1px;
  opacity: 0.75;
}

.menu__clip {
  position: absolute;
  top: -999px;
  left: -999px;
  width: 0;
  height: 0;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.menu--open {
  display: block;
  animation: menuOpen 1s ease-out alternate 0.3s backwards;
}

.menu--closing {
  display: block;
  animation: menuClose 1s ease-in both;
  pointer-events: none;
  will-change: transform, opacity;
}

.menu--open :is(#menu-close-bar-1, #menu-close-bar-2) {
  animation:
    xOpenBTN 0.6s ease-in 0.4s both,
    fadeIn 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) both;
}

.menu--closing :is(#menu-close-bar-1, #menu-close-bar-2) {
  animation:
    xCloseBTN 0.6s ease-in both,
    fadeOut 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.4s both;
}

.menu__content {
  display: flex;
  flex-direction: column;
  grid-column: content-start / span 6;
  align-content: start;
  gap: clamp(0.75rem, 3vw, 3vh);
}

.menu__eyebrow {
  gap: 0.8rem;
}

.menu__eyebrow-text {
  color: var(--color-primary);
}

.menu__content-heading {
  font-weight: 600;
  font-size: clamp(1.25rem, 0.5833rem + 2.963vw, 3.25rem);
  line-height: 1.15;
  letter-spacing: -0.01em;
  color: var(--color-text-inverse);
}

.menu__divider hr {
  width: 25%;
}

.menu__content a.btn {
  margin-top: auto;
}

.menu__nav {
  display: grid;
  grid-template-columns: [content-start] repeat(6, minmax(0, 10rem)) [gap-start] minmax(3rem, 10vw) [gap-end] repeat(6, minmax(0, 10rem)) [content-end];
  grid-column: span 6 / content-end;
}

ul.menu__nav-links {
  list-style-type: none;
  display: grid;
  height: fit-content;
  gap: clamp(0.75rem, 3vw, 3vh);
}

.menu__nav ul.menu__nav-links:nth-child(1) {
  grid-column: content-start / content-end;
}

.menu__nav ul.menu__nav-links:nth-child(2) {
  grid-column: gap-end / content-end;
}

.menu__nav-heading h4 {
  text-transform: uppercase;
  color: var(--color-bg-overlay);
}

.menu__nav-heading hr {
  margin-top: 0.625rem;
}

ul.menu__nav-links li span.menu__nav-arrow {
  position: relative;
  left: -18px;
  margin-left: -1.125rem;
  vertical-align: top;
}

ul.menu__nav-links li span.menu__nav-arrow svg {
  opacity: 0;
  transform: scale(0.25);
  transition:
    transform 0.3s ease-in,
    opacity 0.3s ease-out;
  vertical-align: middle;
}

ul.menu__nav-links li:is(:hover, .--is-active) span.menu__nav-arrow svg {
  opacity: 1;
  transform: scale(1);
}

ul.menu__nav-links li a {
  font-weight: 600;
  font-size: clamp(1.125rem, 0.8333rem + 1.2963vw, 2rem);
  line-height: 1.15;
  letter-spacing: -0.01em;
  color: var(--color-bg-overlay);
  transition: color 0.3s ease-in;
}

ul.menu__nav-links li:is(:hover, .--is-active) a {
  color: var(--color-primary);
}

.menu__footer {
  grid-column: content-start / span 12;
}

/* ========================================================================== */
/*                                Keyframes                                   */
/* ========================================================================== */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes logoFloat {
  from {
    transform: translate(0.344rem, 0.313rem);
  }
  to {
    transform: translate(-0.219rem, -0.156rem);
  }
}

@keyframes logoScaleLeft {
  0% {
    transform: translate(-9rem, 0.313rem);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0.313rem);
    opacity: 1;
  }
}

@keyframes menuOpen {
  from {
    opacity: 0;
    transform: scale(1.05);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

@keyframes menuClose {
  from {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
    filter: blur(5px);
  }
}

@keyframes hambugerOpenBTN {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hambugerCloseBTN {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes xOpenBTN {
  from {
    width: 10px;
  }
  to {
    width: 45.6946px;
  }
}

@keyframes xCloseBTN {
  from {
    width: 45.6946px;
  }
  to {
    width: 10px;
  }
}

/* ========================================================================== */
/*                                Media Queries                               */
/* ========================================================================== */

@media (max-width: 767px) {
  .navbar {
    padding: var(--navigation-padding-sm);
  }

  .navbar__right :is(a, .navbar-right__divider) {
    display: none;
  }

  .menu__wrapper {
    grid-template-columns: initial;
    padding-inline: 1.875rem;
  }

  .menu__content,
  .menu__nav,
  .menu__footer {
    grid-column: 1 / -1;
  }

  .menu__content {
    order: 2;
  }

  .menu__footer {
    order: 3;
  }

  .menu__nav-arrow {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding: var(--navigation-padding-sm);
  }
}

@media (min-width: 992px) {
  ul.menu__nav-links {
    justify-self: center;
    min-width: min(20rem, 35vh);
  }
}

@media (min-width: 1024px) {
  .navbar {
    padding: var(--navigation-padding-md);
  }
}

@media (min-width: 1280px) {
  .navbar {
    padding: var(--navigation-padding-lg);
  }
}

@media (min-width: 1536px) {
  .navbar {
    padding: var(--navigation-padding-lg);
  }
}
